.calculator {
 padding: 0px;
 border-radius: 1em;
 border: solid black 1px;
 height: 600px;
 width: 400px;
 margin: auto;
}
.display-box {
 font-family: 'Orbitron', sans-serif;
 background-color: white;
 border: solid black 2px;
 color: black;
 border-radius: 5px;
 width: 98%;
 height: 65%;
}
.button {
 font-family: 'Orbitron', sans-serif;
 font-size: medium;
 background-color: darkgray;
 color: white;
 border: solid black 0.5px;
 width: 100%;
 border-radius: 10px;
 height: 70%;
 outline: none;
}
